
@import "../scss/style.scss";

$cancel_color : #b2b1b2;
.account_form{

    & input{
        border: 1px solid $grey_color;
        height: 40px;
        max-width: 100%;
        background: none;
        width: 100%;
        padding: 10px;
        padding-left: 25px;
        text-align: left;
    }
    & button {
      color: black;
    }
    .btn-cancel {
      background-color:$cancel_color
    }
}


.login_submit {
  text-align: center;
  & button{
    width: 80%;

  }
  & a {
    color: $secondary_color;
    float: right;
  }
}


